<a href="https://colab.research.google.com/github/Gerard4168/Series_collab/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SERIES USANDO FOR

In [ ]:
# Series 1: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

print('===============================================')
print('================== Serie 1 ====================')
print('===============================================')

s = 'Serie: {'
for i in range(1,11):
 s = s + str(i) + ', '
s = s + "}"
print(s)

===============================================
================== Serie 1 ====================
===============================================
Serie: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, }

In [ ]:
# Serie 2: 1, 4, 9, 16, 25, 36, 49, 64, 81...

print('===============================================')
print('================== Serie 2 ====================')
print('===============================================')

s = 'Serie: {'
for i in range(1,11):
  if i !=10:
    s = s + str(i**2) + ', '
  else:
   s = s + str(i**2) 
s = s + "}"
print(s)

===============================================
================== Serie 1 ====================
===============================================
Serie: {1, 4, 9, 16, 25, 36, 49, 64, 81, 100, }

In [ ]:
# Serie 3: 2, 4, 8, 16, 32, 64

print('===============================================')
print('================== Serie 3 ====================')
print('===============================================')

s = 'Serie: {'
for i in range(1,11):
  if i !=10:
    s = s + str(2**i) + ', '
  else:
   s = s + str(2**i) 
s = s + "}"
print(s)

===============================================
================== Serie 3 ====================
===============================================
Serie: {2, 4, 8, 16, 32, 64, 128, 256, 512, 1024}

In [ ]:
# Serie 4: 2, 6, 12, 20, 30, 42, 56

print('===============================================')
print('================== Serie 4 ====================')
print('===============================================')

s = 'Serie: {'
for i in range(1,11):
  if i !=10:
    s = s + str(i**2+i) + ', '
  else:
   s = s + str(i**2+i) 
s = s + "}"
print(s)

===============================================
================== Serie 4 ====================
===============================================
Serie: {2, 6, 12, 20, 30, 42, 56, 72, 90, 110}